.controls_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.controls_container button {
  color: white;
}

.week {
  box-sizing: border-box;
  padding: 10px 5px;
  height: 100%;
  text-align: center;
  display: grid;
  align-items: center;
}

.week_label {
}

.week_output {
  display: block;
  font-size: 90px;
  line-height: 95px;
}
