.controls_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 8px 16px;
}

.refresh_button {
  color: white;
}

.week {
}

.week_label {
}

.week_output {
  display: block;
  font-size: 90px;
  line-height: 95px;
}

.circle_attention {
  animation-name: circle-attention;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes circle-attention {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(+30deg);
  }
  10% {
    transform: rotate(0deg);
  }
}
