.wrapper {
  --header-color: blue;
}

.header__modificator {
  background-color: var(--header-color);
}

.header_controls_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  transition: opacity 450ms ease-in-out;
}
.wrapper__is_editing .header_controls_container {
  opacity: 0;
  pointer-events: none;
}

.header_controls_container button {
  color: white;
}

.output_container {
  position: relative;
  height: 100%;

  display: grid;
  align-items: center;
  justify-content: center;
}

.dates_output {
  font-size: 46px;
  line-height: 62px;
  padding: 10px 5px;
  text-align: center;
}

.week_form {
  background-color: var(--header-color);
  border-radius: 0 0 20px 20px;
  position: absolute;
  inset: 0;
  height: 0;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.15s; /* close delay */
}
.wrapper__is_editing .week_form {
  transition-delay: 0s; /* open delay */
  height: 100%;
}

.week_form_content {
  pointer-events: none;
  opacity: 0;
  padding: 0 24px 20px;
  margin-top: -16px;
  transition: opacity 450ms ease-in-out;
  transition-delay: 0s; /* hide delay */
}
.wrapper__is_editing .week_form_content {
  pointer-events: auto;
  transition-delay: 150ms; /* show delay */
  opacity: 1;
}
