.calendar_container {
  background-color: #2d2c2c;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0 20px 30px;
}

.calendar_header {
  background-color: red;
  color: white;
  height: 40px;
  display: grid;
  align-items: center;
  font-size: 20px;
  padding: 10px 5px;
}

.week {
  padding: 40px 5px;
}

.week_label {

}

.week_output {
  display: block;
  font-size: 90px;
  line-height: 95px;
}

@media (prefers-color-scheme: light) {
  .calendar_container {
    background-color: var(--background-color);
  }
}
