.calendar_container {
  background-color: #2d2c2c;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: hsla(0, 0%, 0%, 0.2) 0 20px 30px;
}

.calendar_header {
  background-color: #c70000;
  color: hsl(0, 0%, 100%);
  min-height: 40px;
  padding: 8px 16px;
}

.calendar_content__wrapper {
  /* grid and min-height together works correctly for the .calendar_content. Otherwise, .calendar_contend doesn't expand to 100% */
  display: grid;
  min-height: var(--calendar-content);
}

.calendar_content {
  height: 100%;
}

@media (prefers-color-scheme: light) {
  .calendar_container {
    background-color: var(--background-color);
  }
}
