.app_wrapper {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
}

.content_wrapper {
  padding: 32px 32px 64px;
}

.header {
  text-align: center;
}

.main_content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;

  --calendar-content: 200px;
}

.main_content__item {
  flex: 0 1 300px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: hsl(0, 0%, 30%);
}

@media (prefers-color-scheme: light) {
  .footer {
    background-color: hsl(0, 0%, 93%);
  }
}
